@font-face {
	font-family: 'OCR';
	src: url('/OCR A Std Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Neuropolitical';
	src: url('/Neuropolitical Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Berthold City';
	src: url('/Berthold City.ttf') format('truetype');
}

:root {
	--main-dark: #030e04;
	--main-light: #00f562;
	--main-background: #152d1b;
	--main-minorhighlights: #8fbba4;
	--main-highlight: #b3d0c1;
}

body {
	font-family: 'Berthold City', serif;
	/*font-family: 'OCR', serif;*/
	/*font-family: 'Neuropolitical', serif;*/
	/*font-size: ;*/
	background-color: var(--main-dark);
}

input {
	font-family: 'Berthold City', serif;
	caret-color: var(--main-minorhighlights);
	background-color: var(--main-background);
	border: 1px solid var(--main-light);
	color: var(--main-light);
	padding: 5px;
	margin: 5px;
}

textarea {
	font-family: 'Berthold City', serif;
	caret-color: var(--main-minorhighlights);
	background-color: var(--main-background);
	border: 1px solid var(--main-light);
	color: var(--main-light);
	padding: 5px;
	margin: 5px;
}

.none {
	dark: var(--main-dark); /*#-030e04*/
	light: var(--main-light); /*#-00f562*/
	background: var(--main-background); /*#var(--main-background)*/
	minorhighlights: var(--main-minorhighlights); /*#-8fbba4*/
	highlight: var(--main-light); /*#-00f562*/
}

.main-windows {
	flex-direction: row;
	display: inline-flex;
	padding: 5px;
	height: 97vh;
	width: 97vw;
}

.map-box {
	flex: 6;
	/*margin: 10px;*/
	/*overflow: auto;*/
	/* for Firefox */
	min-height: 0px;
	height: 100%;
	border: 1px solid var(--main-light);
}

@media not screen and (max-width: 768px) {
	.App {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.control-panel {
		width: 30vw;
	}
}

.control-panel {
	/*flex: 1;*/

	/*flex-direction: column;*/
	align-items: stretch;
	/*display: inline-flex;*/
	background: var(--main-background);
}

.control-box {
	color: var(--main-light);
	margin: 5px;
	padding: 5px;
	flex: 1;
	align-content: center;
	/*width: 100%;*/
	/*border-style: 'solid';*/
	border: 2px solid;
	/*background-color: 'var(--main-background)';*/
	background: var(--main-background);
}

.thin-box{
	border: 1px solid;
}

.odd{
	  filter: brightness(90%);
}

.even{
	  filter: brightness(110%);

}

.link-hover {
	cursor: pointer;
  }


.select {
	/*background: var(--main-highlights);*/
	border: 2px solid var(--main-minorhighlights);
	color: var(--main-minorhighlights);
	/*border-style: dashed solid;*/
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.center {
	display: flex;
	justify-content: center;
}

.text-input {
	font-size: 150%;
	line-height: 1.5em;
}

.button {
	width: 30%;
	margin: 0 auto;
}

.text-input-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

a:link {
	color: var(--main-minorhighlights);
}

a:visited {
	color: var(--main-minorhighlights);
}


.label-input {
	justify-content: space-between;
}

input[type='checkbox'] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0;

	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);

	display: grid;
	place-content: center;
}

input[type='checkbox']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transform-origin: bottom left;
	background-color: var(--main-light);
}

input[type='checkbox']:checked::before {
	transform: scale(1);
}

input[type='checkbox']:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

input[type='checkbox']:disabled {
	--form-control-color: var(--form-control-disabled);

	color: var(--form-control-disabled);
	cursor: not-allowed;
}

.logo {
	animation: turn-on 4s linear;
	animation-fill-mode: forwards;
	/*float: left;*/
	width: 200px;
	height: 200px;
	object-fit: scale-down;

	/*object-fit: cover;*/
}

.warning {
	border: 1px solid #e54b4b;
	color: #e54b4b;
}

.logo-container {
	background: black;

	background-color: black;
}

.slider {
	-webkit-appearance: none;
	width: 50%;
	height: 15px;
	background: #000;
	outline: none;
	border: 5px solid lawngreen;
	border-radius: 8px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 60px;
	background: #000;
	cursor: pointer;
	border: 5px solid lawngreen;
	border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
	width: 20px;
	height: 60px;
	background: #000;
	cursor: pointer;
	border: 5px solid lawngreen;
	border-radius: 4px;
}

.scroll::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: var(--main-dark);
}

.scroll::-webkit-scrollbar-thumb {
	background: var(--main-highlight);
}
